[Unit]
Description=${CIRCLE_PROJECT_REPONAME} Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=${USER}
WorkingDirectory=${CIRCLE_WORKING_DIRECTORY}
ExecStart=docker compose up --build
ExecStop=docker compose down
Restart=on-failure

[Install]
WantedBy=multi-user.target
